* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	font-family: "Red Hat Display", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	background: hsl(225, 100%, 94%) url('../assets/images/pattern-background-mobile.svg') no-repeat top / 100%;
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	max-width: 370px;
	width: 90%;
	background: white;
	border-radius: 1.3rem;
	box-shadow: 5px 10px 20px hsla(224, 23%, 55%, 0.5);
}

.hero-cont {
	width: 100%;
	height: 180px;
}

.hero-img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 1.3rem;
	border-top-right-radius: 1.3rem;
}

.summary-cont {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.order-header h1, .order-header p {
	text-align: center;
}

.order-header h1 {
	margin-top: 0.4rem;
	color: hsl(223, 47%, 23%);
	font-size: 1.7rem;
}

.order-header p {
	margin-top: 0.5rem;
	color: hsl(224, 23%, 55%);
	font-size: 1rem;
}

.content {
	width: 100%;
	background-color: hsl(225, 100%, 98%);
	padding: 1rem;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	gap: 1rem;
} 

.content a {
	display: inline-block;
	margin-left: auto;
}

.icon-cont {
	line-height: 0;
	width: 45px;
	height: 45px;
}

.icon-cont img {
	width: 100%;
	height: 100%;
}

.plan {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.4rem;
}

.plan h3 {
	font-size: 1rem;
	color: hsl(223, 47%, 23%);
}

.plan p {
	font-size: 1rem;
	font-weight: 500;
	color: hsl(224, 23%, 55%);
}

.content a {
	color: hsl(245, 75%, 52%);
	font-weight: 600;
}

.content a:hover {
	text-decoration: none;
	color: hsla(245, 75%, 52%, 0.7);
}

#payment {
	border: 0;
	background-color: hsl(245, 75%, 52%);
	width: 100%;
	padding: 0.9rem;
	font-weight: 700;
	cursor: pointer;
	color: white;
	border-radius: 0.8rem;
	box-shadow: 5px 10px 25px hsla(245, 75%, 52%, 0.5);
	margin-top: 0.5rem;
}

#payment:hover {
	background-color: hsla(245, 75%, 52%, 0.7);
}

#cancel {
	text-decoration: none;
	color: hsl(224, 23%, 55%);
	font-weight: 600;
	margin: 0.5rem 0;
}

#cancel:hover {
	color: hsl(223, 47%, 23%);
}

@media screen and (min-width: 700px) {
	body {
		background: hsl(225, 100%, 94%) url('../assets/images/pattern-background-desktop.svg') no-repeat top / 100%;
		
	}
} 